body {
    margin: 0;
    background-color: #fafafa;
}


header {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.3%;
	background-color:#ffdf7c;
}


header {
    font-family: 'Lora', serif;
    text-align: center;
}


h1, h2 {
    font-family: 'Lora', serif;
}


p {
    font-family: 'Alegreya', serif;
	font-size: 24px;
}


span {
    font-family: 'Alegreya', serif;
	font-size: 24px;
}


.paratext {
    padding-left: 57%;
    line-height: 27px;
}



.transcription {
	padding-left: 57%;
}


.transcription p {
    line-height: 27px;
}


.unclear_high:hover {
    background-color: #70db70;
}


.unclear_low:hover {
    background-color: #ff4d4d;
}


.target {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}


.target .focus {
    visibility: hidden;
    width: 180px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}
  

.target .focus::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -0px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}


.target:hover .focus {
    visibility: visible;
}


.addition {
    position: relative;
    display: inline-block;
}


.addition .light_focus {
    visibility: hidden;
    width: 180px;
    color: #333;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
    border-color: black;
}
 

.addition .light_focus::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -0px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}


.addition:hover .light_focus {
    visibility: visible;
}


.unclear_high .expan {
    display: none;
}


.unclear_high:hover .expan {
    display: inline;
    background-color: #fafafa;
    color: #333;
}


.abbr_exp .expan {
    display: none;
}


.abbr_exp:hover .expan {
    display: inline;
    color: rgb(95, 94, 94);
}


#title_section {
	padding-left: 57%;
}


#img_letter {
    width: 46%;
    float: left;
    margin-left: 3%;
    border-radius: 15px;
    padding-top: 5%;
    margin-bottom: 1%;
    width: 500px;
    height: auto;
    position: relative;
    margin-top: 10px;
}


#small_letter {
    margin-right: 5%;
    position: relative;
    height: auto;
}


#img_letter:hover, #img_letter:active {
    display: block;
}


#img_letter:hover #big_letter, #img_letter:active #big_letter {
    opacity: 1;
}


#big_letter {
    width: 340px;
    height: 340px;
    background: url('LL1.19_0001_big.jpg') no-repeat #FFF;
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
    pointer-events: none;
    position: absolute;
    opacity: 0;
    border: 4px solid whitesmoke;
    z-index: 99;
    border-radius: 100%;
    display: block;
    transition: opacity .2s;
  }


.transcription span[class^='LL1'] {
    margin-right: 32px;
    color: #666666;   
}


.line {
    margin-right: 32px;
    color: #666666;
}


.long_text {
    margin-bottom: -23px;
}


#info_doc {
    background-color: FCFCFC;
	width: 50%;
	border: 1px;
	border-radius: 5px;
	padding: 30px;
	margin: 20px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}


#info_letter {
    background-color: FCFCFC;
	width: 39%;
	border: 1px;
	border-radius: 5px;
	padding: 30px;
	margin: 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    float: right;
    height: auto;
    line-height: 32.5px;
}


#progetto {
    background-color: FCFCFC;
	width: 39%;
	border: 1px;
	border-radius: 5px;
	padding: 30px;
	margin: 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    float: right;
    padding-top: 50%;
}


footer {
   height:35%;
   left: 0;
   bottom: 0;
   width: 100%;
   margin-top: 5%;
   background-color:#ffdf7c;
}


footer p {
    font-family: 'Lora', serif;
}


#resp {
    text-align: center;
    padding-top: 6px;
}


@media screen and (max-width: 1796px) {
    .target .focus {
        visibility: hidden;
        width: 180px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 30px;
        left: -2%;
    }
      
    .target .focus::after {
        content: "";
        position: absolute;
        top: 0%;
        right: 20%;
        margin-top: -0px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent black transparent transparent;
    }
    
    .target:hover .focus {
        visibility: visible;
    }

}


@media screen and (max-width: 1620px) {
    #title_section {
        padding-left: 60%;
    }
    
    
    .transcription {
        padding-left: 60%;;
    }

    .paratext {
        padding-left: 60%;
    }


@media screen and (max-width: 1518px) {
    #title_section {
        padding-left: 63%;
    }
    
    span {
        font-size: 24px
    }
    
    p {
        font-size: 24px
    }
    .transcription {
        padding-left: 61%;;
    }

    .paratext {
        padding-left: 61%;
    }
}
    
    @media screen and (max-width: 1490px) {
    
    #title_section {
        padding-left: 67%;
        
    }
        
    #title_section h1 {
        font-size: 30px;
        
    }
    
    span {
        font-size: 19px;
    }
    
    p {
        font-size: 19px;
    }
    .transcription {
        padding-left: 68%;;
    }
    .paratext {
        padding-left: 68%;
    }
}

@media screen and (max-width: 1443px) {
    #info_letter {
      float:none;
    }
}